body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #E4F9F5;
  font-weight: bold;
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: right;
}

nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #055052;
}

nav li a:hover {
  color: #13103c;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #055052;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  color: #055052;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #055052;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #557571;
  border-width: 7px;
  width: 5%;
  margin: 100px auto;
}

.top-container {
  position: relative;
  padding-top: 50px;
  padding-bottom: 500px;
  background-image: url(../images/mountain-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.middle-container {
  margin: 100px 0;
}

.intro {
  width: 30%;
  margin: auto;
  line-height: 2;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.frontend-img {
  width: 30%;
  float: left;
  margin-right: 170px;
}

.backend-img {
  width: 33%;
  float: right;
}

.bottom-container {
  background-color: #055052;
  padding-bottom: 2px;
  padding-top: 5px;
}

.contact-msg {
  width: 40%;
  margin: 40px auto 60px;
}

.footer-link {
  color: #E4F9F5;
  padding-right: 50px;
  font-weight: normal;
  text-decoration: none;
}

.linked {
  position: relative;
  top: 5px;
}

.git {
  position: relative;
  top: 5px;
}

.git-link {
  color: #E4F9F5;
  font-weight: normal;
  text-decoration: none;
}

.btn {
  background: #52adde;
  background-image: -webkit-linear-gradient(top, #52adde, #055052);
  background-image: -moz-linear-gradient(top, #52adde, #055052);
  background-image: -ms-linear-gradient(top, #52adde, #055052);
  background-image: -o-linear-gradient(top, #52adde, #055052);
  background-image: linear-gradient(to bottom, #52adde, #055052);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-weight: normal;
}

.btn:hover {
  background: #055052;
  background-image: -webkit-linear-gradient(top, #055052, #52adde);
  background-image: -moz-linear-gradient(top, #055052, #52adde);
  background-image: -ms-linear-gradient(top, #055052, #52adde);
  background-image: -o-linear-gradient(top, #055052, #52adde);
  background-image: linear-gradient(to bottom, #055052, #52adde);
  text-decoration: none;
}

.copyright {
  color: #E4F9F5;
  font-weight: normal;
}
